.star-rating {
  width: 20px;
}

.product, .product-title {
  display: inline-block;
}

.product-image {
  width: 200px;
}

/*this is for the homepage form color*/
 /* label focus color */
 .input-field input:focus + label {
   color: red !important;
 }
 /* label underline focus color */
 .input-field input:focus {
   border-bottom: 1px solid red !important;
   /*box-shadow: 0 1px 0 0 red !important;*/
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: red !important;
 }

 /*to add top padding on index signup button to match padding on input fields to the left*/
 .signUp {
   /*padding: 18.75px 0px 0px 0px !important;*/
   margin-top: 18.75px;
 }
 * {box-sizing:border-box}

 /* Slideshow container */
 .slideshow-container {
   max-width: 500px;
   position: relative;
   margin: auto;
 }

 .mySlides {
     display: none;
 }

 /* On hover, add a black background color with a little bit see-through */
 .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
 }

 /* Caption text */
 .text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
 }

 /* The dots/bullets/indicators */
 .dot {
   cursor:pointer;
   height: 13px;
   width: 13px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }

 .active, .dot:hover {
   background-color: #717171;
 }

 /* Fading animation */
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
 }

 @-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }

 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
