/*jeff styles to make input fields smaller and closer together ***jm*/

input {
  margin: 0 0 0 0 !important;
  height: 2.1rem !important;
}

.select-dropdown {
  margin: 0 0 0 0 !important;
  height: 2.1rem !important;
}

.row {
  margin: 0 0 10px 0 !important;
}

.modal-content {
  color: black !important;
}

.modal-close {
  color: white !important;
}
